<div class="container">
 <h1>投稿詳細</h1>
 <div class="row">
  <table>
      <tr>
        <td class: title><%= @blog.title %></td><div class="pl-60"></div>
      </tr>
     <tbody>
      <tr>
       <td>
        <div class="blogs"></div>
        <%= link_to blog_path(@blog) do %>
        <%= attachment_image_tag @blog, :image, :fill, 360, 240, format: 'jpeg' %>
        <% end %>
       </td>
       <td>
        <%= @blog.body %>
        <%= form_with(model:[@blog, @post_comment], method: :post) do |f| %>
         <%= f.text_area :comment_content %>
         <%= f.hidden_field :blog_id, value: @blog.id %>
         <%= f.submit 'コメントする' %>
        <% end %>
        <% if @blog.favorited_by?(current_user) %>
       <li>
         <%= link_to blog_favorites_path(@blog), method: :delete do %>
           <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
           <%= @blog.favorites.count %> いいね
         <% end %>
       </li>
       <% else %>
       <li>
         <%= link_to blog_favorites_path(@blog), method: :post do %>
           <i class="fa fa-heart-o" aria-hidden="true"></i>
           <%= @blog.favorites.count %> いいね
         <% end %>
       </li>
       <% end %>
       </td>
      </tr>
     </tbody>
  </table>
 </div>
 <h3>コメント一覧</h3>
   <% @post_comments.each do |comment| %>
    <%= @post_comment.comment %>
     <% if @post_comment.user == current_user %>
     <% link_to 'Destroy', blog_post_comment_path(@blog, @post_comments), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-dander" %>
     <% end %>
   <% end %>
</div>

