<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <%= render 'users/profile', user: current_user %>
    </div>
    <div class="col-xs-9">
      <h1>全てのの投稿</h1>
      <div class="row">
      <tbody>
        <table>
         <% @blogs.each do |blog| %>
          <% if user_signed_in? %>
          <tr>
           <td><%= link_to blog.title, blog_path(blog), class: "blog_#{blog.id}" %></td>
           <td><%= blog.body %></td>
           <td><%= link_to 'Edit', edit_blog_path(blog), class: "edit_blog_#{@blog.id}", class: "btn btn-primary" %></td>
           <td><%= link_to 'Destroy', blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy_#{blog.id}" %></td>
          </tr>
          <% end %>
         <% end %>
        </table>
      </tbody>
    </div>
  </div>
</div>z