<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-light bg-light">
      <div class="container">
        <nav class='nav.navbar.navbar-expand-lg'>
          <div class="collapse.navbar-collapse">
            <ul class="navbar-nav.mr-auto">
            <% if user_signed_in? %>
              <th><%= link_to 'Home', users_index_path(current_user), class: 'glyphicon glyphicon-home home' %></th>
              <th><%= link_to 'Users', users_index_path, class: 'glyphicon glyphicon-user users' %></th>
              <th><%= link_to 'Blog', blogs_path, class: 'glyphicon glyphicon-book books' %></th>
              <th><%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></th>
            <% else %>
              <th><%= link_to 'Home', root_path, class: 'glyphicon glyphicon-home home' %></th>
              <th><%= link_to 'About', home_about_path, class: 'glyphicon glyphicon-link about' %></th>
              <th><%= link_to "sign up", new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></th>
              <th><%= link_to "login", new_user_session_path, class: 'sign_in glyphicon glyphicon-log-in' %></th>
            <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
